GPS/.classpath
GPS/project.properties

MapView/.classpath
MapView/.project
MapView/.settings
.metadata
*.class

MyLocationClient/.classpath
MyLocationClient/bin/

MyLocationServer/.classpath

MyLocationBeans/.classpath
MyLocationBeans/bin/
/roboLocation/nbproject/private/
/roboLocation/build/